* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* -----Common---------- */

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  font-weight: 600;
  padding: 16px 13px;
  font-size: 1.6rem;
  background: #171100;
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
}

/* Header  */
.header {
  background: #fffcf4;
  height: 100vh;
}

header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.navbar {
  margin-left: auto;
}
.navbar a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
 }
 .navbar a:hover {
  opacity: 0.5;
 }

.navbar ul {
  display: flex;
  margin-left: 488px;
}

.navbar li.home a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.navbar li.home a::after {
  content: "";
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  background: #000339;
  border-radius: 1px;
}

.header .action .btn-sign {
min-width: 144px;
}
